body {
    width: 90%;
    height: 100%;
    margin-left:5%;
    background-color:slategray;
}

.titulo {
    text-align: center;
    border-color:black;
}

.titdiario {
    text-decoration:underline;
}

.susbitulo {
    font-style:italic;
}

.menu {
    margin-top:5%;
    width: 100%;
    height: 50px;
    margin-bottom:10%;
    background-color:dimgrey;
}

.navbar {
    display:flex;
    width: 100%;
    justify-content: space-around;
}

li, .navbarElement { 
    margin-top:15px;
    color:black;
    text-decoration:none;
    flex-direction: row;
    flex-wrap: nowrap;
}

a {
    color:bkack;
    text-decoration: none;
}

.navbarElement:hover {
    background-color:burlywood;
}

.contenedorFormulario {
    width: 33%;
    margin-left:33%;
    margin-bottom: 20px;
    border-style: double;
    display: flex;
}

.formulario {
    margin: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.formspace {
    margin-top:10px;
}


.final {
    bottom:0;
    width: 100%;
    margin-top:20px;
    height: 10%;
    background-color:whitesmoke;
    text-align: center;
    justify-content: center;
}

.textofinal {
    margin-top:20px;
}
